/AsyncServlets/build/
/AsyncServlets/dist/
/AsyncServlets/nbproject/private/
/CustomTagDemo/build/
/CustomTagDemo/dist/
/CustomTagDemo/nbproject/private/
/CustomeTagApp/build/
/CustomeTagApp/dist/
/CustomeTagApp/nbproject/private/
/Demo1_Servlet_2_1_2020/build/
/Demo1_Servlet_2_1_2020/dist/
/Demo1_Servlet_2_1_2020/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/nbproject/private/
/ExpressionLanguageApp/build/
/ExpressionLanguageApp/dist/
/ExpressionLanguageApp/nbproject/private/
/JMSClientWeb/build/
/JMSClientWeb/nbproject/private/
/JPAMiniProject/JPAMiniProject-ejb/build/
/JPAMiniProject/JPAMiniProject-ejb/dist/
/JPAMiniProject/JPAMiniProject-ejb/nbproject/private/
/JPAMiniProject/JPAMiniProject-war/nbproject/private/
/JPAMiniProject/nbproject/private/
/JPEnterpriceProject/JPEnterpriceProject-ejb/nbproject/private/
/JPEnterpriceProject/JPEnterpriceProject-war/nbproject/private/
/JPEnterpriceProject/nbproject/private/
/JPIApp/build/
/JPIApp/dist/
/JPIApp/nbproject/private/
/JWDAssignment/EJBJpaApp/EJBJpaApp-ejb/build/
/JWDAssignment/EJBJpaApp/EJBJpaApp-ejb/dist/
/JWDAssignment/EJBJpaApp/EJBJpaApp-ejb/nbproject/private/
/JWDAssignment/EJBJpaApp/EJBJpaApp-war/build/
/JWDAssignment/EJBJpaApp/EJBJpaApp-war/dist/
/JWDAssignment/EJBJpaApp/EJBJpaApp-war/nbproject/private/
/JWDAssignment/EJBJpaApp/build/
/JWDAssignment/EJBJpaApp/dist/
/JWDAssignment/EJBJpaApp/nbproject/private/
/JWDAssignment/Question 6/build/
/JWDAssignment/Question 6/dist/
/JWDAssignment/Question 6/nbproject/private/
/JWDAssignment/Question1/build/
/JWDAssignment/Question1/dist/
/JWDAssignment/Question1/nbproject/private/
/JWDAssignment/Question2/build/
/JWDAssignment/Question2/dist/
/JWDAssignment/Question2/nbproject/private/
/JWDAssignment/Question3/build/
/JWDAssignment/Question3/dist/
/JWDAssignment/Question3/nbproject/private/
/JWDAssignment/Question4/build/
/JWDAssignment/Question4/dist/
/JWDAssignment/Question4/nbproject/private/
/JWDAssignment/Question5/JDBC_WEB/build/
/JWDAssignment/Question5/JDBC_WEB/dist/
/JWDAssignment/Question5/JDBC_WEB/nbproject/private/
/JWDAssignment/Question7/build/
/JWDAssignment/Question7/dist/
/JWDAssignment/Question7/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/nbproject/private/
/JavaEEAssignment/CurrencyConverter/CurrencyConverter-ejb/build/
/JavaEEAssignment/CurrencyConverter/CurrencyConverter-ejb/dist/
/JavaEEAssignment/CurrencyConverter/CurrencyConverter-ejb/nbproject/private/
/JavaEEAssignment/CurrencyConverter/CurrencyConverter-war/build/
/JavaEEAssignment/CurrencyConverter/CurrencyConverter-war/dist/
/JavaEEAssignment/CurrencyConverter/CurrencyConverter-war/nbproject/private/
/JavaEEAssignment/CurrencyConverter/build/
/JavaEEAssignment/CurrencyConverter/dist/
/JavaEEAssignment/CurrencyConverter/nbproject/private/
/NewCustomTag/build/
/NewCustomTag/dist/
/NewCustomTag/nbproject/private/
/Question1/Question1-ejb/build/
/Question1/Question1-ejb/dist/
/Question1/Question1-ejb/nbproject/private/
/Question1/Question1-war/build/
/Question1/Question1-war/dist/
/Question1/Question1-war/nbproject/private/
/Question1/build/
/Question1/dist/
/Question1/nbproject/private/
/Question3/build/
/Question3/nbproject/private/
/SearchInGoogle_Yahoo/build/
/SearchInGoogle_Yahoo/nbproject/private/
/WebAppJSP/build/
/WebAppJSP/nbproject/private/
/globalWebJSP/build/
/globalWebJSP/dist/
/globalWebJSP/nbproject/private/
/jmsDemo/build/
/jmsDemo/dist/
/jmsDemo/jmsDemo-ejb/build/
/jmsDemo/jmsDemo-ejb/dist/
/jmsDemo/jmsDemo-ejb/nbproject/private/
/jmsDemo/jmsDemo-war/build/
/jmsDemo/jmsDemo-war/dist/
/jmsDemo/jmsDemo-war/nbproject/private/
/jmsDemo/nbproject/private/
/xmJstl/build/
/xmJstl/dist/
/xmJstl/nbproject/private/
/xmldemo/build/
/xmldemo/dist/
/xmldemo/nbproject/private/