<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>Listeners.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomePage</servlet-name>
        <servlet-class>Servlets.AdminHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHomePage</servlet-name>
        <servlet-class>Servlets.CustomerHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>Servlets.ProductFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandFormServlet</servlet-name>
        <servlet-class>Servlets.BrandFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoryFormServlet</servlet-name>
        <servlet-class>Servlets.ProductCategoryFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecificationFormServlet</servlet-name>
        <servlet-class>Servlets.SpecificationFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBrandServlet</servlet-name>
        <servlet-class>Servlets.DisplayBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandAddServlet</servlet-name>
        <servlet-class>Servlets.BrandAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandDeleteServlet</servlet-name>
        <servlet-class>Servlets.BrandDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoryAddServlet</servlet-name>
        <servlet-class>Servlets.ProductCategoryAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoryDeleteServlet</servlet-name>
        <servlet-class>Servlets.ProductCategoryDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductCategoryServlet</servlet-name>
        <servlet-class>Servlets.DisplayProductCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecificationAddServlet</servlet-name>
        <servlet-class>Servlets.SpecificationAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecificationDeleteServlet</servlet-name>
        <servlet-class>Servlets.SpecificationDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplaySpecificationServlet</servlet-name>
        <servlet-class>Servlets.DisplaySpecificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAddServlet</servlet-name>
        <servlet-class>Servlets.ProductAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <servlet-class>Servlets.ProductDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductServlet</servlet-name>
        <servlet-class>Servlets.DisplayProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateFormServlet</servlet-name>
        <servlet-class>Servlets.StateFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateAddServlet</servlet-name>
        <servlet-class>Servlets.StateAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateDeleteServlet</servlet-name>
        <servlet-class>Servlets.StateDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayStateServlet</servlet-name>
        <servlet-class>Servlets.DisplayStateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCityServlet</servlet-name>
        <servlet-class>Servlets.DisplayCityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityFormServlet</servlet-name>
        <servlet-class>Servlets.CityFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityAddServlet</servlet-name>
        <servlet-class>Servlets.CityAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityDeleteServlet</servlet-name>
        <servlet-class>Servlets.CityDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>Servlets.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserFormServlet</servlet-name>
        <servlet-class>Servlets.RegisterUserFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>Servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserServlet</servlet-name>
        <servlet-class>Servlets.DisplayUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCartServlet</servlet-name>
        <servlet-class>Servlets.DisplayCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQtyServlet</servlet-name>
        <servlet-class>Servlets.EditQtyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQtyFormServlet</servlet-name>
        <servlet-class>Servlets.EditQtyFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductFromCartServlet</servlet-name>
        <servlet-class>Servlets.DeleteProductFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrderServlet</servlet-name>
        <servlet-class>Servlets.AddToOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomePage</servlet-name>
        <url-pattern>/AdminHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHomePage</servlet-name>
        <url-pattern>/CustomerHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/ProductFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandFormServlet</servlet-name>
        <url-pattern>/BrandFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoryFormServlet</servlet-name>
        <url-pattern>/ProductCategoryFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecificationFormServlet</servlet-name>
        <url-pattern>/SpecificationFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBrandServlet</servlet-name>
        <url-pattern>/DisplayBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandAddServlet</servlet-name>
        <url-pattern>/BrandAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandDeleteServlet</servlet-name>
        <url-pattern>/BrandDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoryAddServlet</servlet-name>
        <url-pattern>/ProductCategoryAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoryDeleteServlet</servlet-name>
        <url-pattern>/ProductCategoryDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductCategoryServlet</servlet-name>
        <url-pattern>/DisplayProductCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecificationAddServlet</servlet-name>
        <url-pattern>/SpecificationAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecificationDeleteServlet</servlet-name>
        <url-pattern>/SpecificationDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplaySpecificationServlet</servlet-name>
        <url-pattern>/DisplaySpecificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAddServlet</servlet-name>
        <url-pattern>/ProductAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <url-pattern>/ProductDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductServlet</servlet-name>
        <url-pattern>/DisplayProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateFormServlet</servlet-name>
        <url-pattern>/StateFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateAddServlet</servlet-name>
        <url-pattern>/StateAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateDeleteServlet</servlet-name>
        <url-pattern>/StateDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayStateServlet</servlet-name>
        <url-pattern>/DisplayStateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCityServlet</servlet-name>
        <url-pattern>/DisplayCityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityFormServlet</servlet-name>
        <url-pattern>/CityFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityAddServlet</servlet-name>
        <url-pattern>/CityAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityDeleteServlet</servlet-name>
        <url-pattern>/CityDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/UserAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserFormServlet</servlet-name>
        <url-pattern>/RegisterUserFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserServlet</servlet-name>
        <url-pattern>/DisplayUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCartServlet</servlet-name>
        <url-pattern>/DisplayCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQtyServlet</servlet-name>
        <url-pattern>/EditQtyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQtyFormServlet</servlet-name>
        <url-pattern>/EditQtyFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductFromCartServlet</servlet-name>
        <url-pattern>/DeleteProductFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrderServlet</servlet-name>
        <url-pattern>/AddToOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
